#mainGrid {
	color: red;
}

td {
	text-align: center;

	border: 3px solid orange;
	width: 20px;
	height: 20px;
	padding: 0px;
}

.unclicked {
	
}

.\30  {
	border: 3px solid #cccccc;
	background-color: #cccccc;
}

.\31  {
	color: blue;
	border: 3px solid #cccccc;
	background-color: #cccccc;
}

.\32  {
	color: green;
	border: 3px solid #cccccc;
	background-color: #cccccc;
}

.\33  {
	color: red;
	border: 3px solid #cccccc;
	background-color: #cccccc;
}

.\34  {
	color: navy;
	border: 3px solid #cccccc;
	background-color: #cccccc;
}

.\35  {
	color: brown;
	border: 3px solid #cccccc;
	background-color: #cccccc;
}

.\36  {
	color: cyan;
	border: 3px solid #cccccc;
	background-color: #cccccc;
}

.\37  {
	color: black;
	border: 3px solid #cccccc;
	background-color: #cccccc;
}

.\38  {
	color: black;
	border: 3px solid #cccccc;
	background-color: #cccccc;
}

.\39 {
	color: black;
	background-color: red;
}