#container {
	text-align: center;
}

h2 {
	margin: 8px;
	text-align: center;
}

table {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	table-layout: fixed;
	margin: auto;
	padding: 0px;
	border-color: black;
	border-width: 0px;
	border-style: solid;
	background-color: #444444;
}

#form {
	text-align: center;
}

tr {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	padding: 0px;
	margin: 0px;
}

td {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	table-layout: fixed;
	position: relative;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
	text-align: center;
	width: 20px;
	height: 20px;
	padding: 0px;
}

.\30  {
	margin: 1px;
	background-color: #cccccc;
}

.\31  {
	color: blue;
	margin: 1px;
	background-color: #cccccc;
}

.\32  {
	color: green;
	margin: 1px;
	background-color: #cccccc;
}

.\33  {
	color: red;
	margin: 1px;
	background-color: #cccccc;
}

.\34  {
	color: navy;
	margin: 1px;
	background-color: #cccccc;
}

.\35  {
	color: brown;
	margin: 1px;
	background-color: #cccccc;
}

.\36  {
	color: cyan;
	margin: 1px;
	background-color: #cccccc;
}

.\37  {
	color: black;
	margin: 1px;
	background-color: #cccccc;
}

.\38  {
	color: black;
	margin: 1px;
	background-color: #cccccc;
}

.\39 {
	color: black;
	background-color: red;
	margin: 1px;
}

.cover {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	color: black;
	z-index: 1;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #888888;
	width: 20px;
	height: 20px;
	float: left;
}

.win {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	color: black;
	z-index: 1;
	position: absolute;
	left: 0px;
	top: 0px;
	background-color: #99FF99;
	width: 20px;
	height: 20px;
	float: left;
}